@model IEnumerable<Goodbyes.Backend.Services.DB.Entities.Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Servicios</h1>
<h4 class="mt-2">
    <a asp-action="Create">
        <i class="me-2 bi bi-plus-circle-fill" style="font-size: 1.5rem; color: green;"></i>
        Nuevo
    </a>
</h4>
<hr />

<table class="my-5 table table-striped table-hover">
    <thead>
        <tr class="text-center">
            @*<th>
            @Html.DisplayNameFor(model => model.IDService)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                @Html.DisplayFor(modelItem => item.IDService)
                </td>*@
                <td class ="text-center">
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td class="text-center">
                    @*@Html.DisplayFor(modelItem => item.Type)*@
                    @if (item.Type == "H")
                    {
                        <span>Soltero</span>
                    }
                    @if (item.Type == "M")
                    {
                        <span>Soltera</span>
                    }
                </td class="text-center">
                <td class="fw-bold">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-end">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="ps-4 text-center">
                    @*@Html.ActionLink("Detalles", "Details", new { id = item.IDService }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.IDService }) |
                    @Html.ActionLink("Desactivar", "Delete", new { id = item.IDService })*@
                    <a asp-action="Edit" asp-route-id="@item.IDService">
                        <i class="me-4 bi bi-pencil-fill" style="font-size: 1.5rem; color: orange;"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IDService">
                        <i class="bi bi-trash3-fill" style="font-size: 1.5rem; color: red;"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
